@use "./resets";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --primary-clr-bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  //light-mode

  --clr-light-gray: hsl(0, 0%, 98%);
  --very-Light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  //dark-mode

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue2: hsl(237, 14%, 26%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin font($weight, $size) {
  font-family: inherit;
  font-weight: $weight;
  font-size: $size;
}

.todo-head {
  width: 100%;
  height: 285px; //35vh
  display: flex;
  background: url(../images/bg-desktop-light.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  &-items {
    width: 36.6%;
    position: relative;

    .todo-title {
      color: var(--clr-light-gray);
      text-transform: uppercase;
      letter-spacing: 1rem;
      margin: 4.5rem 0 2.5rem 0;
      @include font(700, 2.5rem);
    }
    .todo-toggle-mode {
      position: absolute;
      top: 4.5rem; //35%
      right: 0;
      width: 1.5rem;
      height: 2.5rem;
      background-size: cover;
      background: url(../images/icon-moon.svg);
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
  .todo-list-creater {
    width: 100%;
    position: relative;
    z-index: 3;
    
    .todo-new-list {
      width: 100%;
      outline: 0;
      border: none;
      padding: 1rem 3rem;
      border-radius: 0.5rem;
      color: var(--very-dark-grayish-blue);
      @include font(400, 1.5rem);
    }
    .btn-task {
      position: absolute;
      top: 0;
      right: 0;
      background-color: inherit;
      color: var(--primary-clr-bright-blue);
      cursor: pointer;
      border: none;
      width: 15%;
      height: 100%;
      @include font(400, 3.5rem);
    }
  }
}
.todo-list {
  min-width: 36.6%;
  min-height: max-content;
  z-index: 2;
  margin-top: -2.5rem;
  background: var(--clr-light-gray);
  border-radius: 0.5rem;
  box-shadow: 0 10px 50px var(--light-grayish-blue);
  .task {
    width: 100%;
    border-bottom: 1px solid var(--light-grayish-blue);
    padding: 1.2rem 2rem;
    position: relative;
    @include font(400, 1rem);
    input {
      display: none;
    }
    .light-label {
      cursor: pointer;
      color: var(--very-dark-grayish-blue);
      font-size: 1.1rem;
      padding: 1.2rem 1.5rem;

      .custom-checkbox {
        position: absolute;
        top: 25%;
        z-index: 1;
        left: 3%;
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid var(--light-grayish-blue);
        border-radius: 50%;

        .tick {
          width: 50%;
          visibility: hidden;
          height: 50%;
          position: absolute;
          fill: none;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    input:checked + label {
      text-decoration: line-through 2px currentColor;
    }

    input:checked + label .custom-checkbox {
      background: var(--check-background);
    }

    input:checked + label .custom-checkbox .tick{
      visibility: visible;
    }
  }
  .filter-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    .list-item-count {
      font-size: .9rem;
      font-weight: 700;
      color: var(--dark-grayish-blue);
    }
    .filter-list-item {
      padding: 0 .5rem;
      font-weight: 700;
      font-size: 0.8rem;
      color: var(--dark-grayish-blue);
      cursor: pointer;
    }
    .active-filter {
      color: var(--primary-clr-bright-blue);
      font-weight: 700;
      font-size: 0.9rem;
    }
    .clear-list {
      cursor: pointer;
      font-size: .9 rem;
      color: var(--dark-grayish-blue);
    }
  }
}
.hide{
  display: none !important;
}

.deleteTodo{
  position: absolute;
  right: 6%;
  cursor: pointer;
}

// Dark-mode classes

.body-dark {
  background: var(--very-dark-blue);
}
.todo-head-dark {
  background: url(../images/bg-desktop-dark.jpg);
  background-size: cover;
}
.todo-dark-mode-dark {
  background: url(../images/icon-sun.svg) !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}
.todo-new-list-dark {
  background: var(--very-dark-desaturated-blue);
  box-shadow: none;
  color: aqua!important;
}

.dark-label-font{
  color: var(--light-grayish-blue)!important;
}

.task-dark{
  border-bottom: 2px solid var(--very-dark-grayish-blue)!important;
}

.btn-task-dark{
  color: aqua !important;
}

@media screen and (max-width: 930px) {
  .todo-head {
    background-position-x: center;
    height: 210px;
    .todo-head-items {
      width: 90%;
      .todo-title{
        margin: 2.5rem 0;
      }
      .todo-toggle-mode{
        top: 2.5rem;
      }
    }
  }
  .todo-list {
    width: 90%;
    margin-top: -1.5rem;
    position: relative;

    .task{
      z-index: 0;
      padding: 1rem 2rem;
    }
    .filter-list {
      padding: 1rem 0.5rem; 
      &-item{
        padding: .7rem !important;
      }
    }
    .filter {
      position: absolute;
      width: 100%;
      order: 3;
      left: 0;
      top: 100%;
      padding: 1.5rem;
      text-align: center;
      background: inherit;

    }
  }
}
