// - Family: [Be Vietnam Pro] https://fonts.google.com/specimen/Be+Vietnam+Pro
// - Weights: 400, 500, 700
// - Font size: 16px
// - Mobile: 375px
// - Desktop: 1440px

:root {
  --clr-primary-bright-red-bright: hsl(12, 88%, 59%);
  --clr-primary-dark-blue: hsl(228, 39%, 23%);

  --clr-neutral-dark-grayish-blue: hsl(227, 12%, 61%);
  --clr-neutral-very-dark-blue: hsl(233, 12%, 13%);
  --clr-neutral-very-pale-red: hsl(13, 100%, 96%);
  --clr-neutral-vary-light-gray: hsl(0, 0%, 98%);
}
